[submodule "vendor/cerebro"]
	path = vendor/cerebro
	url = git@github.com:ADALabUCSD/cerebro-system.git
	branch = master
[submodule "vendor/spark-openstack"]
	path = vendor/spark-openstack
	url = git@github.com:liside/spark-openstack.git
	branch = master
[submodule "vendor/emulab-openstack"]
	path = vendor/emulab-openstack
	url = https://gitlab.flux.utah.edu/johnsond/openstack-build-ubuntu.git
	branch = master
